<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ANZHFR.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-ANZHFR.Web-20140509202001;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-ANZHFR.Web-20140509202001.mdf" providerName="System.Data.SqlClient" />
    <add name="ANZHFREntities" connectionString="metadata=res://*/Models.Model.csdl|res://*/Models.Model.ssdl|res://*/Models.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5002.Smarterasp.net;initial catalog=DB_9B0EB3_AUSHFR;User Id=DB_9B0EB3_AUSHFR_admin;Password=C3l3br8!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="ContentContext" connectionString="Data Source=(localdb)\v11.0; Initial Catalog=ContentContext-20141029112449; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|ContentContext-20141029112449.mdf" providerName="System.Data.SqlClient" />-->
    <!--<add name="ANZHFREntities" connectionString="metadata=res://*/Models.Model.csdl|res://*/Models.Model.ssdl|res://*/Models.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=as05\sql2012;initial catalog=ANZHFRDev;User Id=sa;Password=11firman99;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="ANZHFREntities" connectionString="metadata=res://*/Models.Model.csdl|res://*/Models.Model.ssdl|res://*/Models.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=as05\sql2012;initial catalog=ANZHFRDemoAU;User Id=sa;Password=11firman99;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="ANZHFREntities" connectionString="metadata=res://*/Models.Model.csdl|res://*/Models.Model.ssdl|res://*/Models.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=as05\sql2012;initial catalog=ANZHFRDemoNZ;User Id=sa;Password=11firman99;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="ANZHFREntities" connectionString="metadata=res://*/Models.Model.csdl|res://*/Models.Model.ssdl|res://*/Models.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=as05\sql2012;initial catalog=ANZHFRLiveAU;User Id=sa;Password=11firman99;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="ANZHFREntities" connectionString="metadata=res://*/Models.Model.csdl|res://*/Models.Model.ssdl|res://*/Models.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=as05\sql2012;initial catalog=ANZHFRLiveNZ;User Id=sa;Password=11firman99;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="ANZHFREntities" connectionString="metadata=res://*/Models.Model.csdl|res://*/Models.Model.ssdl|res://*/Models.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=202.27.236.235;initial catalog=NZHFR;User Id=NZHFR;Password=C3l3br8!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /> -->
    <!--<add name="ANZHFREntities" connectionString="metadata=res://*/Models.Model.csdl|res://*/Models.Model.ssdl|res://*/Models.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.24.0.13;initial catalog=AUSHFR;User Id=AUSHFR;Password=C3l3br8!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /> -->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="UploadDirectory" value="uploads\" />
    <add key="Location" value="Australian" />
    <!--<add key="Location" value="New Zealand" />-->
    <!-- Used to set the location. Australian or New Zealand are allowable options.-->
    <add key="Type" value="Demo" />
    <!-- Used to set the Site Type. Demo or Live are allowable options.-->
    <add key="SiteDown" value="" />
    <!-- Used to disable the login screen. Blank for live, description if down. Remember to include expected time back up. -->
    <add key="HeaderRow" value="1" />
    <add key="DataRow" value="2" />
    <add key="ImportUpdateDB" value="true" />
    <add key="DashboardMonth" value="4" />
    <add key="DashboardYear" value="2016" />
    <add key="SurveyTitle" value="ANZHFR Facility Survey for {0} - {1}" />
    <add key="SurveyStartDate" value="01-Jun-2016" />
    <add key="CookieExpiryMinutes" value="20" />
    <add key="ExcludeFromHospitalsRegex" value="dummy" />
    <add key="LoginPath" value="/auth/login" />
    <!-- Contact Email Settings -->
    <!--<add key="SMTPServer" value="vmh15044.hosting24.com.au" />
    <add key="SMTPPort" value="25" />
    <add key="SMTPEnableSsl" value="false" />
    <add key="EmailUserName" value="netmail@DEFAULT" />
    <add key="EmailPassword" value="tyjx6BQxVXf333eS" />-->
    <add key="EmailFromAddress" value="admin@hipfracture.com.au" />
    <add key="EmailToAddress" value="peter@adso.com.au" />

    <!--<add key="SMTPServer" value="mail.hipfracture.com.au" />
    <add key="SMTPPort" value="8889" />
    <add key="SMTPEnableSsl" value="false" />
    <add key="EmailUserName" value="admin@hipfracture.com.au" />
    <add key="EmailPassword" value="qwerty01" />
    <add key="EmailFromAddress" value="admin@hipfracture.com.au" />
    <add key="EmailToAddress" value="peter@adso.com.au" />-->

    <!--<add key="SMTPServer" value="mail.hipfracture.co.nz" />
    <add key="SMTPPort" value="8889" />
    <add key="SMTPEnableSsl" value="false" />
    <add key="EmailUserName" value="admin@hipfracture.co.nz" />
    <add key="EmailPassword" value="qwerty01" />
    <add key="EmailFromAddress" value="admin@hipfracture.co.nz" />
    <add key="EmailToAddress" value="admin@hipfracture.co.nz" />-->
  </appSettings>
  <system.web>
    <compilation targetFramework="4.0" debug="true" />
    <authentication mode="Forms">
      <forms loginUrl="~/auth/login" timeout="20" defaultUrl="Home/Index" />
    </authentication>
    <!--<authentication mode="Forms">
      <forms loginUrl="~/auth/login" timeout="2880" defaultUrl="Home/Index" />
    </authentication>-->
    <!--<authentication mode="Forms">
      <forms loginUrl="~/auth/login" timeout="2880" defaultUrl="Home/Index" />
    </authentication>-->
    <globalization culture="en-AU" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="UrlRoutingModule-4.0" />
      <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" preCondition="" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp from="help@hipfracture.com.au">
        <network host="mail.bigpond.com" />
      </smtp>
      <!--<smtp from="help@hipfracture.com.au">
        <network host="mail.hipfracture.com.au" userName="help@hipfracture.com.au" password="22xi97T4!!" port="25" enableSsl="false" />
      </smtp>-->
      <!--<smtp from="help@hipfracture.co.nz">
        <network host="mail.hipfracture.co.nz" userName="help@hipfracture.co.nz" password="22xi97T4!!" port="25" enableSsl="false" />
      </smtp>-->
    </mailSettings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <applicationSettings>
    <ANZHFR.Web.Properties.Settings>
      <setting name="BestPracticeReportHours" serializeAs="String">
        <value>48</value>
      </setting>
    </ANZHFR.Web.Properties.Settings>
  </applicationSettings>
</configuration>