@{
    ViewBag.Title = "Restricted";
}
<form action="Dashboard2">
    <h2>WARNING</h2>

    <p>Your Access Level (Reporter) does not give you permission to see patient-level information. </p>
    <br />
    <p>Please see your Hospital Administrator if you need patient-level access</p>
    <br /><br />
    <input type="submit" value="Return to Dashboard" />
</form>
